.mentor-text {
  line-height: 28px;
  color: rgb(75, 75, 75);
}
.username {
  font-weight: bold;
  font-size: 25px;
}
.user-photo {
  height: 344px;
  width: 42%;
  object-fit: cover;
}

.profile-card {
  width: 270px;
  display: flex;
  float: left;
  display: block;
  margin-right: 36px;
  margin-bottom: 20px;
}
.profile-card > .card-body {
  height: 133px;
  padding: 6px 16px 12px 22px;
}
.profile-col {
  padding: 50px 71px 18px 34px;
}
h2 {
  color: cadetblue;
  font-family: 'Montserrat', Sans-serif;
  font-size: 50px;
  font-weight: 300;
  text-transform: capitalize;
  line-height: 1.1em;
}
