.root {
  background-image: url('../assets/mentors.png');
}
.root-text {
  font-size: 65px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  padding-top: 6%;
  margin: 0 auto;
  width: 80%;
}
.root-paragraph > h3 {
  font-size: 44px;
  font-family: 'Montserrat', sans-serif;
  color: cadetblue;
}
.root-paragraph {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  margin-top: 32px;
}
.root-paragraph > p {
  font-size: 17px;
  color: #636262;
}
.home-paragraph{
  margin-top: 33px;
}