.manage-profile-container {
  background: linear-gradient(315deg, #abe9cd 0%, #3eadcf 74%);
  height: 95vh;
  margin-top: -18px;
}
.manage-text {
  color: white;
  font-size: 24px;
  text-align: center;
  padding-top: 37px;
  width: 909px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
}
h3 {
  width: 80%;
  margin: 0 auto;
  color: white;
  font-family: 'Montserrat', sans-serif;
}
.confirm {
  width: 145px;
  margin: 0 auto;
  margin-top: 40px;
}
.confirm-btn {
  background-color: cadetblue;
  color: white;
  padding: 12px 12px;
}
